body {background-color: rgb(83, 136, 73);}
.parte01 {background-color: rgb(126, 214, 137);}
h1 {text-align: center;}
.ima1
.parte02 {background-color: rgb(126, 214, 137);}
.parte03 {background-color: rgb(126, 214, 137);}
